* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body {
  color: #fff5ee;
}

.form {
  height: 50px;
  padding: 10px 25px;
  background-color: #202020;
}

.form #input-city {
  color: #fff5ee;
  background-color: #121212;
  border: 1px solid #323232;
  padding-left: 9px;
  width: 250px;
}

.form #input-city,
.form #search {
  height: 30px;
}

.form #search {
  background-color: #323232;
  font-size: 11px;
  padding: 5px;
  line-height: 20px;
}

.form #search:hover {
  cursor: pointer;
}

#content {
  background-color: #181818;
  height: 100vh;
}

.main-cont {
  margin: 35px auto 0;
  border: 1px solid #fff5ee;
  width: 640px;
  border-radius: 5px;
  padding: 18px 20px 25px 20px;
}

.main-cont .weather-info {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.main-cont .weather-info #city-info {
  -ms-grid-column: 1;
  -ms-grid-column-end: 3;
  grid-column: 1/3;
  padding-bottom: 18px;
  font-size: 20px;
}

.main-cont .weather-info .image-cont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-cont .weather-info .image-cont #weather-img {
  height: 90px;
  width: 90px;
}

.main-cont .weather-info .image-cont #img-desc {
  font-size: 19px;
}

.main-cont .weather-info .temp-cont {
  position: relative;
  padding-bottom: 26px;
}

.main-cont .weather-info .temp-cont .temp {
  font-size: 45px;
  padding-top: 6px;
  padding-bottom: 9px;
}

.main-cont .weather-info .temp-cont .temp-max,
.main-cont .weather-info .temp-cont .temp-min {
  font-size: 25px;
}

.main-cont .weather-info .temp-cont .temp-text {
  font-size: 17px;
  text-transform: uppercase;
  padding-top: 11px;
}

.main-cont .weather-info .w-info {
  padding-top: 13px;
  font-size: 17px;
}

.toogle-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.toogle-cont input[type="checkbox"] {
  position: relative;
  width: 30px;
  height: 15px;
  -webkit-appearance: none;
  background: #d1d1d1;
  outline: none;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toogle-cont input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 20px;
  top: -1px;
  left: 0;
  background: #fff5ee;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.toogle-cont input:checked[type="checkbox"] {
  background: #69f;
}

.toogle-cont input:checked[type="checkbox"]::before {
  left: 15px;
}
